<% layout('/layouts/boilerplate') -%>
<body>
    <h3>All Listings</h3>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListings) { %>
            <div class="col mb-4">
                <a  href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card listing-card col shadow-sm p-3 mb-5 bg-body-dark rounded-2" >
                        <img src="<%= listing.image.url %>" 
                            class="card-img-top shadow-sm p-3 mb-5 bg-body-tertiary rounded" 
                            alt="listing_image" style="height: 20rem;">
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b></p> 
                                <br />
                                &#x20B9; <%= listing.price.toLocaleString("en-IN") %>/ night
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>           
    </div>

